<!-- <app-header title="Slides" [hasBackButton]="true" titleColor="vimeo"></app-header> -->

<ion-content class="ion-padding">
  <ion-slides pager="ios" class="slide-full">
    <ion-slide *ngFor="let slide of slides">

      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" alt="Slide Image">

        <ion-card-header>
          <ion-card-subtitle>{{ slide.title }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ slide.desc }}
        </ion-card-content>
      </ion-card>

    </ion-slide>

    <ion-slide>
      <ion-button (click)="sliderEnd()" expand="block">
        Comenzar
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>