<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="twitter">List Reorder</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="reorderDisabled=!reorderDisabled">
        <ion-icon slot="icon-only"
        [name]="!reorderDisabled ? 'close-outline' : 'options-outline'"
        [color]="reorderDisabled ? 'success' : 'danger'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-list>
    <ion-reorder-group [disabled]="reorderDisabled" (ionItemReorder)="reorder($event)">
      <ion-item *ngFor="let character of characters">
        <ion-label>{{ character }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>